
<div class="card">
  <div class="card-header">
   <h2><center> The Super Gossip Project For Real BITCHEEEEEES </center></h2>
 </div>


</br></br>

<h1>SALUT LES LOULOUS !</h1> 
<p>   

  <% if logged_in? %>

	<h2> 
   <%= link_to " ====> rajoute ton gossip ici <====", new_gossip_path %></h2>
 </div>


</p>
<% @gossip.each do |g| %>

  <div class="row">
    <div class="col-1">
     <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Anonymous.svg" class="img-circle" height="55" width="55" alt="Avatar">
   </div>
   <div class="col-11">
    <div class="well">
     <p> <%= "#{g.user.first_name} #{g.user.last_name}" %></p>

     <p> comment: <span class="badge badge-primary badge-pill"> <%=g.comments.count %></span> </p>

   </div>
 
  <div class="row-2">
    <div class="well">
      <p><%= link_to "#{g.title}", gossip_path(g.id) %></p>

    <% pre_like = g.likes.find { |like| like.user_id == current_user.id} %>
   <% if pre_like %>
     <%= button_to 'Unlike', gossip_like_path(g, pre_like), method: :delete %>
   <% else %>
     <%= button_to 'Like', gossip_likes_path(g), method: :post %> 
   <% end %>

    <p><span class="badge badge-primary badge-pill"> <%=g.likes.count %> <%= (g.likes.count) == 1 ? 'Like' : 'Likes'%></p></span> </p>
   <br><br>

 
    </div>
  </div>
  </div>
   </div>
<% end %>

<% else %>
<h2> LOG TOI OU SIGN UP MOTHERFUCKER ! </h2>

<% end %>
